main {
    margin: 100px 0 100px 0;
}
main h2, main h3 {
    text-align: center;
    margin: 60px;
}
.admin-menu {
    position: relative;
    text-align: center;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 80px;
    width: 40vw;
    margin-left: 30vw;
    border-radius: 15px;
}
.admin-menu::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: url(tła/admin-panel-background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 40vw;
}
.admin-menu::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.link-admin {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.link-admin:hover {
    text-decoration: underline;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0 0 10%;
}
table th, table td {
    border: 1px solid rgba(255,255,255,0.2);
    padding: 10px;
    text-align: left;
}
.zamowienie-admin {
    background: rgba(141, 141, 141, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 70vw;
    margin: 30px;
}
.zamowienie-admin button {
    margin-top: 20px;
}

.usun-a {
    text-decoration: none;
    color: rgb(80, 80, 255);
}
.powrot-div {
    text-align: center;
    margin: 90px 0 30px 0;
}
.powrot-a {
    text-decoration: none;
    color: rgb(145, 255, 255);
}
.powrot-a:hover {
    text-decoration: underline;
}

main h4 {
    margin-top: 100px;
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 60px 30px;
    width: 600px;
}
form label {
    display: block;
}
form input, form select {
    width: 12vw;
    border-radius: 5px;
    height: 20px;
}
form select {
    height: 25px;
}
form button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    transition: transform 0.2s;
}
form button:hover {
    transform: scale(1.15);
}
.edytuj-a {
    text-decoration: none;
    color: rgb(80, 255, 80);
}
.edytuj-a:hover {
    text-decoration: underline;
}
.form-div form textarea {
    width: 12vw;
    height: 100px;
    border-radius: 5px;
}
.form-div h4 {
    margin-top: 50px;
}

@media (max-width: 900px) {
    .admin-menu {
        width: 80vw;
        margin-left: 10vw;
    }
    .admin-menu::before, .admin-menu::after {
        width: 100%;
    }

    #przypisz-pracownika-form {
        margin-left: 0px;
        width: 60vw;
    }
    form select {
        width: 120px;
    }

    table {
        width: 90%;
        margin: 10px 0 0 5%;
    }
    .form-div form textarea {
        width: 40vw;
    }
}